<article *ngIf="signType">
  <header><h2>Edit Sign Type</h2></header>

  <form class="container" #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="codePrefix">Code Prefix:</label>
          <input id="codePrefix" name="codePrefix" [(ngModel)]="signType.codePrefix"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="name">Name:</label>
          <input id="name" name="name" [(ngModel)]="signType.name"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2 p-2">
        <button type="submit">Update</button>
      </div>
      <div class="col-2 p-2">
        <button type="button" (click)="form.resetForm(original)">Reset</button>
      </div>
    </div>
  </form>
</article>
